In [48]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [49]:
spark = SparkSession.builder.appName('Sparksql').getOrCreate()

In [50]:
def mapper(line):
    fields = line.split(',')
    return Row(ID=int(fields[0]), name=str(fields[1].encode("utf-8")), \
               age=int(fields[2]), numFriends=int(fields[3]))

In [53]:
lines = spark.sparkContext.textFile("data/fakefriends (1).csv")

In [54]:
people = lines.map(mapper)

In [55]:
people.collect()

[Row(ID=0, name="b'Will'", age=33, numFriends=385),
 Row(ID=1, name="b'Jean-Luc'", age=26, numFriends=2),
 Row(ID=2, name="b'Hugh'", age=55, numFriends=221),
 Row(ID=3, name="b'Deanna'", age=40, numFriends=465),
 Row(ID=4, name="b'Quark'", age=68, numFriends=21),
 Row(ID=5, name="b'Weyoun'", age=59, numFriends=318),
 Row(ID=6, name="b'Gowron'", age=37, numFriends=220),
 Row(ID=7, name="b'Will'", age=54, numFriends=307),
 Row(ID=8, name="b'Jadzia'", age=38, numFriends=380),
 Row(ID=9, name="b'Hugh'", age=27, numFriends=181),
 Row(ID=10, name="b'Odo'", age=53, numFriends=191),
 Row(ID=11, name="b'Ben'", age=57, numFriends=372),
 Row(ID=12, name="b'Keiko'", age=54, numFriends=253),
 Row(ID=13, name="b'Jean-Luc'", age=56, numFriends=444),
 Row(ID=14, name="b'Hugh'", age=43, numFriends=49),
 Row(ID=15, name="b'Rom'", age=36, numFriends=49),
 Row(ID=16, name="b'Weyoun'", age=22, numFriends=323),
 Row(ID=17, name="b'Odo'", age=35, numFriends=13),
 Row(ID=18, name="b'Jean-Luc'", age=45, numFriends=455),
 Row(ID=19, name="b'Geordi'", age=60, numFriends=246),
 Row(ID=20, name="b'Odo'", age=67, numFriends=220),
 Row(ID=21, name="b'Miles'", age=19, numFriends=268),
 Row(ID=22, name="b'Quark'", age=30, numFriends=72),
 Row(ID=23, name="b'Keiko'", age=51, numFriends=271),
 Row(ID=24, name="b'Julian'", age=25, numFriends=1),
 Row(ID=25, name="b'Ben'", age=21, numFriends=445),
 Row(ID=26, name="b'Julian'", age=22, numFriends=100),
 Row(ID=27, name="b'Leeta'", age=42, numFriends=363),
 Row(ID=28, name="b'Martok'", age=49, numFriends=476),
 Row(ID=29, name="b'Nog'", age=48, numFriends=364),
 Row(ID=30, name="b'Keiko'", age=50, numFriends=175),
 Row(ID=31, name="b'Miles'", age=39, numFriends=161),
 Row(ID=32, name="b'Nog'", age=26, numFriends=281),
 Row(ID=33, name="b'Dukat'", age=53, numFriends=197),
 Row(ID=34, name="b'Jean-Luc'", age=43, numFriends=249),
 Row(ID=35, name="b'Beverly'", age=27, numFriends=305),
 Row(ID=36, name="b'Kasidy'", age=32, numFriends=81),
 Row(ID=37, name="b'Geordi'", age=58, numFriends=21),
 Row(ID=38, name="b'Deanna'", age=64, numFriends=65),
 Row(ID=39, name="b'Morn'", age=31, numFriends=192),
 Row(ID=40, name="b'Odo'", age=52, numFriends=413),
 Row(ID=41, name="b'Hugh'", age=67, numFriends=167),
 Row(ID=42, name="b'Brunt'", age=54, numFriends=75),
 Row(ID=43, name="b'Guinan'", age=58, numFriends=345),
 Row(ID=44, name="b'Nerys'", age=35, numFriends=244),
 Row(ID=45, name="b'Dukat'", age=52, numFriends=77),
 Row(ID=46, name="b'Morn'", age=25, numFriends=96),
 Row(ID=47, name="b'Brunt'", age=24, numFriends=49),
 Row(ID=48, name="b'Nog'", age=20, numFriends=1),
 Row(ID=49, name="b'Ezri'", age=40, numFriends=254),
 Row(ID=50, name="b'Quark'", age=51, numFriends=283),
 Row(ID=51, name="b'Lwaxana'", age=36, numFriends=212),
 Row(ID=52, name="b'Beverly'", age=19, numFriends=269),
 Row(ID=53, name="b'Geordi'", age=62, numFriends=31),
 Row(ID=54, name="b'Brunt'", age=19, numFriends=5),
 Row(ID=55, name="b'Keiko'", age=41, numFriends=278),
 Row(ID=56, name="b'Gowron'", age=44, numFriends=194),
 Row(ID=57, name="b'Odo'", age=57, numFriends=294),
 Row(ID=58, name="b'Hugh'", age=59, numFriends=158),
 Row(ID=59, name="b'Morn'", age=59, numFriends=284),
 Row(ID=60, name="b'Geordi'", age=20, numFriends=100),
 Row(ID=61, name="b'Kasidy'", age=62, numFriends=442),
 Row(ID=62, name="b'Keiko'", age=69, numFriends=9),
 Row(ID=63, name="b'Jean-Luc'", age=58, numFriends=54),
 Row(ID=64, name="b'Elim'", age=31, numFriends=15),
 Row(ID=65, name="b'Guinan'", age=52, numFriends=169),
 Row(ID=66, name="b'Geordi'", age=21, numFriends=477),
 Row(ID=67, name="b'Jadzia'", age=48, numFriends=135),
 Row(ID=68, name="b'Guinan'", age=33, numFriends=74),
 Row(ID=69, name="b'Jean-Luc'", age=30, numFriends=204),
 Row(ID=70, name="b'Brunt'", age=52, numFriends=393),
 Row(ID=71, name="b'Geordi'", age=45, numFriends=184),
 Row(ID=72, name="b'Kasidy'", age=22, numFriends=179),
 Row(ID=73, name="b'Brunt'", age=20, numFriends=384),
 Row(ID=74, name="b'Leeta'", age=65, numFriends=208),
 Row(ID=75, name="b'Morn'", age=40, numFriends=459),
 Row(ID=76, name="b'Will'", age=62, numFriends=201),
 Row(ID=77, name="b'Weyoun'", age=40, numFriends=407),
 Row(ID=78, name="b'Data'", age=61, numFriends=337),
 Row(ID=79, name="b'Leeta'", age=58, numFriends=348),
 Row(ID=80, name="b'Dukat'", age=67, numFriends=445),
 Row(ID=81, name="b'Jadzia'", age=54, numFriends=440),
 Row(ID=82, name="b'Hugh'", age=57, numFriends=465),
 Row(ID=83, name="b'Geordi'", age=32, numFriends=308),
 Row(ID=84, name="b'Ben'", age=28, numFriends=311),
 Row(ID=85, name="b'Quark'", age=66, numFriends=383),
 Row(ID=86, name="b'Hugh'", age=55, numFriends=257),
 Row(ID=87, name="b'Ezri'", age=31, numFriends=481),
 Row(ID=88, name="b'Ben'", age=66, numFriends=188),
 Row(ID=89, name="b'Worf'", age=24, numFriends=492),
 Row(ID=90, name="b'Kasidy'", age=33, numFriends=471),
 Row(ID=91, name="b'Rom'", age=46, numFriends=88),
 Row(ID=92, name="b'Gowron'", age=54, numFriends=7),
 Row(ID=93, name="b'Elim'", age=46, numFriends=63),
 Row(ID=94, name="b'Morn'", age=62, numFriends=133),
 Row(ID=95, name="b'Odo'", age=29, numFriends=173),
 Row(ID=96, name="b'Ezri'", age=25, numFriends=233),
 Row(ID=97, name="b'Nerys'", age=69, numFriends=361),
 Row(ID=98, name="b'Will'", age=44, numFriends=178),
 Row(ID=99, name="b'Keiko'", age=69, numFriends=491),
 Row(ID=100, name="b'Jean-Luc'", age=61, numFriends=460),
 Row(ID=101, name="b'Morn'", age=67, numFriends=123),
 Row(ID=102, name="b'Dukat'", age=40, numFriends=18),
 Row(ID=103, name="b'Ezri'", age=61, numFriends=2),
 Row(ID=104, name="b'Dukat'", age=32, numFriends=142),
 Row(ID=105, name="b'Morn'", age=50, numFriends=417),
 Row(ID=106, name="b'Beverly'", age=18, numFriends=499),
 Row(ID=107, name="b'Will'", age=64, numFriends=419),
 Row(ID=108, name="b'Leeta'", age=25, numFriends=274),
 Row(ID=109, name="b'Quark'", age=53, numFriends=417),
 Row(ID=110, name="b'Nog'", age=64, numFriends=137),
 Row(ID=111, name="b'Nerys'", age=37, numFriends=46),
 Row(ID=112, name="b'Morn'", age=25, numFriends=13),
 Row(ID=113, name="b'Quark'", age=41, numFriends=244),
 Row(ID=114, name="b'Worf'", age=33, numFriends=275),
 Row(ID=115, name="b'Dukat'", age=18, numFriends=397),
 Row(ID=116, name="b'Ben'", age=69, numFriends=75),
 Row(ID=117, name="b'Rom'", age=52, numFriends=487),
 Row(ID=118, name="b'Ben'", age=28, numFriends=304),
 Row(ID=119, name="b'Worf'", age=29, numFriends=344),
 Row(ID=120, name="b'Jean-Luc'", age=68, numFriends=264),
 Row(ID=121, name="b'Deanna'", age=35, numFriends=355),
 Row(ID=122, name="b'Data'", age=45, numFriends=400),
 Row(ID=123, name="b'Jadzia'", age=45, numFriends=439),
 Row(ID=124, name="b'Data'", age=47, numFriends=429),
 Row(ID=125, name="b'Rom'", age=66, numFriends=284),
 Row(ID=126, name="b'Brunt'", age=26, numFriends=84),
 Row(ID=127, name="b'Miles'", age=40, numFriends=284),
 Row(ID=128, name="b'Julian'", age=34, numFriends=221),
 Row(ID=129, name="b'Kasidy'", age=45, numFriends=252),
 Row(ID=130, name="b'Gowron'", age=67, numFriends=350),
 Row(ID=131, name="b'Hugh'", age=65, numFriends=309),
 Row(ID=132, name="b'Odo'", age=46, numFriends=462),
 Row(ID=133, name="b'Quark'", age=19, numFriends=265),
 Row(ID=134, name="b'Ben'", age=45, numFriends=340),
 Row(ID=135, name="b'Rom'", age=42, numFriends=427),
 Row(ID=136, name="b'Will'", age=19, numFriends=335),
 Row(ID=137, name="b'Martok'", age=28, numFriends=32),
 Row(ID=138, name="b'Dukat'", age=32, numFriends=384),
 Row(ID=139, name="b'Nog'", age=36, numFriends=193),
 Row(ID=140, name="b'Elim'", age=64, numFriends=234),
 Row(ID=141, name="b'Miles'", age=36, numFriends=424),
 Row(ID=142, name="b'Guinan'", age=59, numFriends=335),
 Row(ID=143, name="b'Data'", age=60, numFriends=124),
 Row(ID=144, name="b'Miles'", age=22, numFriends=93),
 Row(ID=145, name="b'Leeta'", age=45, numFriends=470),
 Row(ID=146, name="b'Nerys'", age=58, numFriends=174),
 Row(ID=147, name="b'Quark'", age=61, numFriends=373),
 Row(ID=148, name="b'Nerys'", age=39, numFriends=248),
 Row(ID=149, name="b'Beverly'", age=49, numFriends=340),
 Row(ID=150, name="b'Nerys'", age=55, numFriends=313),
 Row(ID=151, name="b'Keiko'", age=54, numFriends=441),
 Row(ID=152, name="b'Kasidy'", age=54, numFriends=235),
 Row(ID=153, name="b'Morn'", age=63, numFriends=342),
 Row(ID=154, name="b'Geordi'", age=40, numFriends=389),
 Row(ID=155, name="b'Beverly'", age=50, numFriends=126),
 Row(ID=156, name="b'Deanna'", age=44, numFriends=360),
 Row(ID=157, name="b'Dukat'", age=34, numFriends=319),
 Row(ID=158, name="b'Odo'", age=31, numFriends=340),
 Row(ID=159, name="b'Kasidy'", age=67, numFriends=438),
 Row(ID=160, name="b'Beverly'", age=58, numFriends=112),
 Row(ID=161, name="b'Odo'", age=39, numFriends=207),
 Row(ID=162, name="b'Ezri'", age=59, numFriends=14),
 Row(ID=163, name="b'Nerys'", age=67, numFriends=204),
 Row(ID=164, name="b'Will'", age=31, numFriends=172),
 Row(ID=165, name="b'Leeta'", age=26, numFriends=282),
 Row(ID=166, name="b'Lwaxana'", age=25, numFriends=10),
 Row(ID=167, name="b'Quark'", age=48, numFriends=57),
 Row(ID=168, name="b'Martok'", age=68, numFriends=112),
 Row(ID=169, name="b'Beverly'", age=53, numFriends=92),
 Row(ID=170, name="b'Jean-Luc'", age=68, numFriends=490),
 Row(ID=171, name="b'Weyoun'", age=29, numFriends=126),
 Row(ID=172, name="b'Kasidy'", age=55, numFriends=204),
 Row(ID=173, name="b'Leeta'", age=23, numFriends=129),
 Row(ID=174, name="b'Deanna'", age=47, numFriends=87),
 Row(ID=175, name="b'Will'", age=38, numFriends=459),
 Row(ID=176, name="b'Worf'", age=55, numFriends=474),
 Row(ID=177, name="b'Brunt'", age=67, numFriends=316),
 Row(ID=178, name="b'Kasidy'", age=26, numFriends=381),
 Row(ID=179, name="b'Elim'", age=37, numFriends=426),
 Row(ID=180, name="b'Kasidy'", age=30, numFriends=108),
 Row(ID=181, name="b'Rom'", age=43, numFriends=404),
 Row(ID=182, name="b'Weyoun'", age=26, numFriends=145),
 Row(ID=183, name="b'Ben'", age=47, numFriends=488),
 Row(ID=184, name="b'Julian'", age=44, numFriends=84),
 Row(ID=185, name="b'Weyoun'", age=48, numFriends=287),
 Row(ID=186, name="b'Miles'", age=31, numFriends=109),
 Row(ID=187, name="b'Nerys'", age=47, numFriends=225),
 Row(ID=188, name="b'Keiko'", age=54, numFriends=369),
 Row(ID=189, name="b'Quark'", age=62, numFriends=23),
 Row(ID=190, name="b'Geordi'", age=60, numFriends=294),
 Row(ID=191, name="b'Nog'", age=40, numFriends=349),
 Row(ID=192, name="b'Jadzia'", age=45, numFriends=497),
 Row(ID=193, name="b'Nerys'", age=60, numFriends=125),
 Row(ID=194, name="b'Kasidy'", age=38, numFriends=2),
 Row(ID=195, name="b'Ben'", age=30, numFriends=376),
 Row(ID=196, name="b'Data'", age=38, numFriends=173),
 Row(ID=197, name="b'Leeta'", age=38, numFriends=76),
 Row(ID=198, name="b'Brunt'", age=48, numFriends=381),
 Row(ID=199, name="b'Hugh'", age=38, numFriends=180),
 Row(ID=200, name="b'Kasidy'", age=21, numFriends=472),
 Row(ID=201, name="b'Ezri'", age=23, numFriends=174),
 Row(ID=202, name="b'Lwaxana'", age=63, numFriends=469),
 Row(ID=203, name="b'Ezri'", age=46, numFriends=125),
 Row(ID=204, name="b'Deanna'", age=64, numFriends=164),
 Row(ID=205, name="b'Morn'", age=69, numFriends=236),
 Row(ID=206, name="b'Will'", age=21, numFriends=491),
 Row(ID=207, name="b'Lwaxana'", age=41, numFriends=206),
 Row(ID=208, name="b'Nog'", age=37, numFriends=271),
 Row(ID=209, name="b'Brunt'", age=27, numFriends=174),
 Row(ID=210, name="b'Data'", age=33, numFriends=245),
 Row(ID=211, name="b'Ben'", age=61, numFriends=73),
 Row(ID=212, name="b'Geordi'", age=55, numFriends=284),
 Row(ID=213, name="b'Worf'", age=28, numFriends=312),
 Row(ID=214, name="b'Miles'", age=32, numFriends=182),
 Row(ID=215, name="b'Will'", age=22, numFriends=6),
 Row(ID=216, name="b'Brunt'", age=34, numFriends=116),
 Row(ID=217, name="b'Keiko'", age=29, numFriends=260),
 Row(ID=218, name="b'Gowron'", age=66, numFriends=350),
 Row(ID=219, name="b'Lwaxana'", age=26, numFriends=345),
 Row(ID=220, name="b'Jean-Luc'", age=41, numFriends=394),
 Row(ID=221, name="b'Dukat'", age=27, numFriends=150),
 Row(ID=222, name="b'Rom'", age=34, numFriends=346),
 Row(ID=223, name="b'Odo'", age=40, numFriends=406),
 Row(ID=224, name="b'Keiko'", age=44, numFriends=277),
 Row(ID=225, name="b'Elim'", age=19, numFriends=106),
 Row(ID=226, name="b'Lwaxana'", age=37, numFriends=207),
 Row(ID=227, name="b'Ezri'", age=40, numFriends=198),
 Row(ID=228, name="b'Martok'", age=26, numFriends=293),
 Row(ID=229, name="b'Gowron'", age=24, numFriends=150),
 Row(ID=230, name="b'Beverly'", age=54, numFriends=397),
 Row(ID=231, name="b'Ezri'", age=59, numFriends=42),
 Row(ID=232, name="b'Worf'", age=68, numFriends=481),
 Row(ID=233, name="b'Gowron'", age=67, numFriends=70),
 Row(ID=234, name="b'Deanna'", age=49, numFriends=22),
 Row(ID=235, name="b'Elim'", age=57, numFriends=8),
 Row(ID=236, name="b'Brunt'", age=62, numFriends=442),
 Row(ID=237, name="b'Nerys'", age=61, numFriends=469),
 Row(ID=238, name="b'Deanna'", age=25, numFriends=305),
 Row(ID=239, name="b'Nog'", age=48, numFriends=345),
 Row(ID=240, name="b'Deanna'", age=46, numFriends=154),
 Row(ID=241, name="b'Quark'", age=45, numFriends=332),
 Row(ID=242, name="b'Data'", age=25, numFriends=101),
 Row(ID=243, name="b'Martok'", age=61, numFriends=68),
 Row(ID=244, name="b'Dukat'", age=21, numFriends=471),
 Row(ID=245, name="b'Jean-Luc'", age=28, numFriends=174),
 Row(ID=246, name="b'Leeta'", age=41, numFriends=260),
 Row(ID=247, name="b'Ezri'", age=52, numFriends=338),
 Row(ID=248, name="b'Dukat'", age=21, numFriends=138),
 Row(ID=249, name="b'Nerys'", age=66, numFriends=41),
 Row(ID=250, name="b'Hugh'", age=36, numFriends=342),
 Row(ID=251, name="b'Rom'", age=55, numFriends=57),
 Row(ID=252, name="b'Will'", age=36, numFriends=174),
 Row(ID=253, name="b'Leeta'", age=69, numFriends=116),
 Row(ID=254, name="b'Ezri'", age=67, numFriends=79),
 Row(ID=255, name="b'Deanna'", age=60, numFriends=324),
 Row(ID=256, name="b'Worf'", age=32, numFriends=412),
 Row(ID=257, name="b'Data'", age=51, numFriends=161),
 Row(ID=258, name="b'Worf'", age=68, numFriends=217),
 Row(ID=259, name="b'Kasidy'", age=29, numFriends=11),
 Row(ID=260, name="b'Brunt'", age=38, numFriends=96),
 Row(ID=261, name="b'Jadzia'", age=40, numFriends=172),
 Row(ID=262, name="b'Will'", age=51, numFriends=334),
 Row(ID=263, name="b'Martok'", age=40, numFriends=33),
 Row(ID=264, name="b'Julian'", age=29, numFriends=228),
 Row(ID=265, name="b'Gowron'", age=27, numFriends=471),
 Row(ID=266, name="b'Jean-Luc'", age=66, numFriends=496),
 Row(ID=267, name="b'Dukat'", age=49, numFriends=106),
 Row(ID=268, name="b'Ezri'", age=26, numFriends=298),
 Row(ID=269, name="b'Beverly'", age=55, numFriends=289),
 Row(ID=270, name="b'Data'", age=44, numFriends=353),
 Row(ID=271, name="b'Morn'", age=25, numFriends=446),
 Row(ID=272, name="b'Quark'", age=29, numFriends=367),
 Row(ID=273, name="b'Data'", age=51, numFriends=493),
 Row(ID=274, name="b'Julian'", age=64, numFriends=244),
 Row(ID=275, name="b'Will'", age=47, numFriends=13),
 Row(ID=276, name="b'Dukat'", age=54, numFriends=462),
 Row(ID=277, name="b'Hugh'", age=46, numFriends=300),
 Row(ID=278, name="b'Data'", age=44, numFriends=499),
 Row(ID=279, name="b'Beverly'", age=23, numFriends=133),
 Row(ID=280, name="b'Nerys'", age=26, numFriends=492),
 Row(ID=281, name="b'Worf'", age=21, numFriends=89),
 Row(ID=282, name="b'Geordi'", age=32, numFriends=404),
 Row(ID=283, name="b'Dukat'", age=65, numFriends=443),
 Row(ID=284, name="b'Nog'", age=26, numFriends=269),
 Row(ID=285, name="b'Data'", age=43, numFriends=101),
 Row(ID=286, name="b'Lwaxana'", age=30, numFriends=384),
 Row(ID=287, name="b'Beverly'", age=64, numFriends=396),
 Row(ID=288, name="b'Hugh'", age=56, numFriends=354),
 Row(ID=289, name="b'Ezri'", age=30, numFriends=221),
 Row(ID=290, name="b'Beverly'", age=62, numFriends=290),
 Row(ID=291, name="b'Dukat'", age=23, numFriends=373),
 Row(ID=292, name="b'Nog'", age=63, numFriends=380),
 Row(ID=293, name="b'Deanna'", age=23, numFriends=65),
 Row(ID=294, name="b'Leeta'", age=38, numFriends=410),
 Row(ID=295, name="b'Nerys'", age=40, numFriends=56),
 Row(ID=296, name="b'Data'", age=38, numFriends=454),
 Row(ID=297, name="b'Ben'", age=45, numFriends=395),
 Row(ID=298, name="b'Guinan'", age=57, numFriends=207),
 Row(ID=299, name="b'Rom'", age=57, numFriends=311),
 Row(ID=300, name="b'Beverly'", age=49, numFriends=147),
 Row(ID=301, name="b'Weyoun'", age=28, numFriends=108),
 Row(ID=302, name="b'Beverly'", age=37, numFriends=263),
 Row(ID=303, name="b'Deanna'", age=46, numFriends=319),
 Row(ID=304, name="b'Will'", age=19, numFriends=404),
 Row(ID=305, name="b'Quark'", age=29, numFriends=182),
 Row(ID=306, name="b'Beverly'", age=23, numFriends=323),
 Row(ID=307, name="b'Keiko'", age=41, numFriends=340),
 Row(ID=308, name="b'Morn'", age=45, numFriends=59),
 Row(ID=309, name="b'Geordi'", age=67, numFriends=153),
 Row(ID=310, name="b'Odo'", age=68, numFriends=189),
 Row(ID=311, name="b'Martok'", age=43, numFriends=48),
 Row(ID=312, name="b'Jadzia'", age=61, numFriends=421),
 Row(ID=313, name="b'Dukat'", age=59, numFriends=169),
 Row(ID=314, name="b'Geordi'", age=36, numFriends=168),
 Row(ID=315, name="b'Weyoun'", age=25, numFriends=208),
 Row(ID=316, name="b'Hugh'", age=64, numFriends=391),
 Row(ID=317, name="b'Guinan'", age=59, numFriends=439),
 Row(ID=318, name="b'Deanna'", age=35, numFriends=251),
 Row(ID=319, name="b'Leeta'", age=30, numFriends=476),
 Row(ID=320, name="b'Worf'", age=62, numFriends=450),
 Row(ID=321, name="b'Data'", age=44, numFriends=61),
 Row(ID=322, name="b'Rom'", age=58, numFriends=92),
 Row(ID=323, name="b'Nog'", age=29, numFriends=236),
 Row(ID=324, name="b'Miles'", age=56, numFriends=343),
 Row(ID=325, name="b'Keiko'", age=51, numFriends=492),
 Row(ID=326, name="b'Beverly'", age=46, numFriends=407),
 Row(ID=327, name="b'Julian'", age=20, numFriends=63),
 Row(ID=328, name="b'Deanna'", age=62, numFriends=41),
 Row(ID=329, name="b'Dukat'", age=67, numFriends=35),
 Row(ID=330, name="b'Ezri'", age=33, numFriends=356),
 Row(ID=331, name="b'Martok'", age=30, numFriends=17),
 Row(ID=332, name="b'Julian'", age=55, numFriends=362),
 Row(ID=333, name="b'Ben'", age=29, numFriends=207),
 Row(ID=334, name="b'Leeta'", age=40, numFriends=7),
 Row(ID=335, name="b'Odo'", age=27, numFriends=337),
 Row(ID=336, name="b'Gowron'", age=47, numFriends=4),
 Row(ID=337, name="b'Miles'", age=58, numFriends=10),
 Row(ID=338, name="b'Will'", age=28, numFriends=180),
 Row(ID=339, name="b'Morn'", age=66, numFriends=305),
 Row(ID=340, name="b'Nerys'", age=57, numFriends=275),
 Row(ID=341, name="b'Data'", age=18, numFriends=326),
 Row(ID=342, name="b'Guinan'", age=46, numFriends=151),
 Row(ID=343, name="b'Odo'", age=26, numFriends=254),
 Row(ID=344, name="b'Data'", age=30, numFriends=487),
 Row(ID=345, name="b'Ezri'", age=31, numFriends=394),
 Row(ID=346, name="b'Hugh'", age=29, numFriends=329),
 Row(ID=347, name="b'Geordi'", age=32, numFriends=24),
 Row(ID=348, name="b'Weyoun'", age=33, numFriends=460),
 Row(ID=349, name="b'Kasidy'", age=20, numFriends=277),
 Row(ID=350, name="b'Nog'", age=55, numFriends=464),
 Row(ID=351, name="b'Keiko'", age=54, numFriends=72),
 Row(ID=352, name="b'Deanna'", age=27, numFriends=53),
 Row(ID=353, name="b'Julian'", age=64, numFriends=499),
 Row(ID=354, name="b'Kasidy'", age=69, numFriends=15),
 Row(ID=355, name="b'Keiko'", age=46, numFriends=352),
 Row(ID=356, name="b'Weyoun'", age=67, numFriends=149),
 Row(ID=357, name="b'Brunt'", age=26, numFriends=7),
 Row(ID=358, name="b'Will'", age=52, numFriends=276),
 Row(ID=359, name="b'Nog'", age=54, numFriends=442),
 Row(ID=360, name="b'Nerys'", age=39, numFriends=68),
 Row(ID=361, name="b'Worf'", age=68, numFriends=206),
 Row(ID=362, name="b'Ezri'", age=39, numFriends=120),
 Row(ID=363, name="b'Dukat'", age=41, numFriends=397),
 Row(ID=364, name="b'Lwaxana'", age=54, numFriends=115),
 Row(ID=365, name="b'Brunt'", age=65, numFriends=430),
 Row(ID=366, name="b'Keiko'", age=19, numFriends=119),

In [41]:
schemaPeople = spark.createDataFrame(people).cache()

In [42]:
schemaPeople.createOrReplaceTempView('people')

In [43]:
tennagers = spark.sql('SELECT * FROM people WHERE age >=13 AND age <= 19')

In [45]:
for teen in tennagers.collect():
    print(teen)

Row(ID=21, name="b'Miles'", age=19, numFriends=268)
Row(ID=52, name="b'Beverly'", age=19, numFriends=269)
Row(ID=54, name="b'Brunt'", age=19, numFriends=5)
Row(ID=106, name="b'Beverly'", age=18, numFriends=499)
Row(ID=115, name="b'Dukat'", age=18, numFriends=397)
Row(ID=133, name="b'Quark'", age=19, numFriends=265)
Row(ID=136, name="b'Will'", age=19, numFriends=335)
Row(ID=225, name="b'Elim'", age=19, numFriends=106)
Row(ID=304, name="b'Will'", age=19, numFriends=404)
Row(ID=341, name="b'Data'", age=18, numFriends=326)
Row(ID=366, name="b'Keiko'", age=19, numFriends=119)
Row(ID=373, name="b'Quark'", age=19, numFriends=272)
Row(ID=377, name="b'Beverly'", age=18, numFriends=418)
Row(ID=404, name="b'Kasidy'", age=18, numFriends=24)
Row(ID=409, name="b'Nog'", age=19, numFriends=267)
Row(ID=439, name="b'Data'", age=18, numFriends=417)
Row(ID=444, name="b'Keiko'", age=18, numFriends=472)
Row(ID=492, name="b'Dukat'", age=19, numFriends=36)
Row(ID=494, name="b'Kasidy'", age=18, numFriends=194)

In [46]:
schemaPeople.groupBy('age').count().orderBy('age').show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows

In [47]:
spark.stop()